<div class="calendar_clean">
  <div class="calendar">
      <ul class="calendar_header">
        <li class="calendar_header_prevMont" ng-click="previous()">❮</li>
        <li class="calendar_header_currentMonth">{{month.format("MMMM") | uppercase}}</li>
        <li class="calendar_header_nextMonth" ng-click="next()">❯</li>
      </ul>
      <div class="calendar_body">
        <ul class="calendar_body_weekdays">
          <li>Se</li>
          <li>Te</li>
          <li>Qu</li>
          <li>Qu</li>
          <li>Se</li>
          <li>Sa</li>
          <li>Do</li>
        </ul>
        <ul class="calendar_body_weekIteration" ng-repeat="week in weeks">
          <li class="calendar_body_dayIteration" ng-click="select(day)" ng-repeat="day in week.days"><span ng-class="{selectedDay: day.isToday, selectedDay: day.date.isSame(selected) }">{{day.number}}</span></li>
        </ul>
      </div>
    </div>
</div>

