/**
CALENDAR
 */
.calendar {
  all: initial;
  * {
    all: unset;
  }
}
.calendar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px;
  background: #FFD801;
  letter-spacing: 3px;
}

.calendar_header_currentMonth{
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.calendar_header_prevMont {
}
.calendar_header_nextMonth {
}
.calendar_body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.calendar_body_weekdays {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 5px;
  background-color: #eee;
  color: #666;
  text-align: center;
}
.calendar_body_weekdays li {
  width: 14%;
  padding: 5px;
}
.selectedDay {
  padding: 5px;
  background: #FFD801;
  color: white !important;
  border-radius: 30px;
}
.calendar_body_weekIteration {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: #777;
}

.calendar_body_dayIteration {
  width: 14%;
  text-align: center;
  padding: 5px;
}
