<div>
<div class="month">
  <ul>
    <li class="prev" ng-click="previous()">❮</li>
    <li class="next" ng-click="next()">❯</li>
    <li style="text-align:center">{{month.format("MMMM, YYYY")}}<br></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Se</li>
  <li>Te</li>
  <li>Qu</li>
  <li>Qu</li>
  <li>Se</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days" ng-repeat="week in weeks">
  <li ng-class="{ active: day.isToday, active: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</li>
</ul>
</div>
